/*
 * Monochrome is a simple, responsive blog theme built for Jekyll.
 */

/*- Base reset -*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/*- Base color -*/

$background-color: #FFFFFF;
$text-color: #333333;
$text-light-color: rgba(0,0,0,0.6);
$text-dark-color: #000000;

/*- Base settings -*/

html {
	background-color: $background-color;
	font-size: 16px;
	@media (min-width: 940px) {
		font-size: 18px;
	}
	line-height: 1.8;
	color: $text-color;
}

div.content .highlight {
  background: #282c34;
  padding: 12px 16px;
  overflow-x: auto;
  font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
  display: block;
}

div.content .highlight pre {
  margin: 0;
  padding: 0;
  background: transparent;
}

div.content code {
  font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.875em;
  background-color: rgba(175, 184, 193, 0.2);
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

div.content pre code {
  background-color: transparent;
  padding: 0;
  font-size: 14px;
}

body {
 max-width: 690px;
 margin: 0 auto;
 padding: 0 10px;
}

/*- Link -*/
a {
	color: $text-color;
	text-decoration: none;
	font-weight: 700;
	&:hover,
	&:focus {
		color: darken($text-color, 5%);
	}
}

/* Common classes */

.f-right { float: right; }
.f-left { float: left; }
.clear { clear:both; }

// to align div vertically and horizontally in center of another div
.parent { display: flex;}
.inner { align-self: center; }

// justify
.justify-center { justify-content: center; }
.justify-spaceBetween { justify-content: space-between; }

.w100 { width: 100% }
.h100 { height: 100% }
.wh100 { width: 100%; height: 100%}

// position
.absolute { position: absolute; }
.relative { position: relative; }
.top { top: 0 }
.bottom { bottom: 0 }
.right { right: 0 }
.left { left: 0 }
